$primaryColor: #7ed321;
$maxWidthContainer: 1170;
$md1: $maxWidthContainer + 12;
$md2: 991.98;
$md3: 767.98;
$md4: 479.98;

*,
*:before,
*:after {
	box-sizing: border-box;
}

html {
	font-size: 10px;
}

body {
	font-family: "Roboto", sans-serif;
	// 400 and 700
	font-size: 1.5rem;
	padding: 1rem;
	margin: 0;
	color: #b9b9b9;
	background-color: #e3e3e3;
}

input,
input[type="radio"] + label,
input[type="checkbox"] + label:before,
select option,
select {
	box-sizing: border-box;
	color: #000;
	font-size: 1.6rem;
	line-height: 1.6rem;
	outline: 0;
	padding: 1.5rem 2rem;
	width: 100%;

	// width: 100%;
	// padding: 1rem;
	// line-height: 1.4;
	background-color: #f9f9f9;
	border: 1px solid #e5e5e5;
	border-radius: 3px;
	-webkit-transition: 0.35s ease-in-out;
	-moz-transition: 0.35s ease-in-out;
	-o-transition: 0.35s ease-in-out;
	transition: 0.35s ease-in-out;
	transition: all 0.35s ease-in-out;
}

input[type="checkbox"] {
	display: none;

	& + label {
		position: relative;
		display: block;
		padding-left: 1.6em;
		margin-bottom: 2rem;
		cursor: pointer;
		color: black;

		&::before {
			position: absolute;
			// top: 0.2rem;
			display: block;
			margin: auto;
			top: 0;
			bottom: 0;
			left: 0;
			display: block;
			width: 2rem;
			height: 2rem;
			padding: 0;
			content: "";
		}

		&::after {
			position: absolute;
			border-radius: 5px;
			text-align: center;
			margin: auto;
			top: 0;
			bottom: 0;
			left: 0;
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			width: 2rem;
			height: 2rem;
			font-size: 1.2rem;
			background-color: $primaryColor;
			color: #fff;
			opacity: 0;
			font-family: FontAwesome;
			content: "\f00c";
		}
	}

	&:checked + label:after {
		opacity: 1;
	}
}

input,
select {
	position: relative;
}

// input:required::after,
input:required + label::after {
	content: "*";
	font-size: 1.5rem;
	color: red;
	position: absolute;
	top: 0;
	right: 0.5rem;
	display: block;
}

input:focus,
select:focus {
	outline: none;
	border: 1px solid $primaryColor;
	// border-radius: 10px;
}

select,
input[type="date"] {
	margin-bottom: 2rem;
}

select option {
	// background-color: #7ed321 !important;
	// color: #fff !important;
}

.container {
	max-width: 57rem;
	padding: 1rem 3rem 2rem 3rem;
	margin: 0em auto;
	background-color: #fff;
	border-radius: 4.2px;

	// @media (max-width: $md1 + px) {
	// 	max-width: 970px;
	// }
	// @media (max-width: $md2 + px) {
	// 	max-width: 750px;
	// }
	// @media (max-width: $md3 + px) {
	// 	max-width: none;
	// 	padding: 0 10px;
	// }
	@media (max-width: $md4 + px) {
		padding: 1rem 0.5rem;
	}
}

.form {
	.required {
		display: inline-block;
		position: relative;
		width: auto;

		&::after {
			content: "*";
			font-size: 1.5rem;
			color: red;
			position: absolute;
			top: 0;
			right: -1rem;
			display: block;
		}
	}

	&__basic {
	}

	&__legend {
		color: #000;
		font-size: 2rem;
		padding: 1.5rem;
		border: solid 2px rgba(#7ed321, 0.4);
		border-radius: 10px;
		margin-bottom: 2rem;
	}

	&__fio {
		width: 100%;
	}

	&__fieldset {
		> *:not(legend) {
			width: 100%;
		}

		border: solid 2px rgba(#7ed321, 0.4);
		border-radius: 10px;
		margin-top: 2rem;
		padding: 0 2rem;
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
	}

	&__title {
		color: $primaryColor;
		display: block;
		font-weight: bold;
		margin-bottom: 2rem;
	}

	&__birth-date {
		width: 49% !important;

		@media (max-width: $md4 + px) {
			width: 100% !important;
		}
	}

	&__gender {
		width: 49% !important;

		@media (max-width: $md4 + px) {
			width: 100% !important;
		}

		label {
			margin-bottom: 2rem;
		}

		input[type="radio"] {
			display: none;

			&:checked + label {
				background-color: $primaryColor;
				color: #fff;
				border-color: #64ac15;
			}
		}

		input[type="radio"] + label:first-of-type {
			border-top-left-radius: 3px;
			border-bottom-left-radius: 3px;
		}

		input[type="radio"] + label:last-of-type {
			border-top-right-radius: 3px;
			border-bottom-right-radius: 3px;
		}

		input[type="radio"] + label {
			display: inline-block;
			width: 49%;
			text-align: center;
			border-radius: 0;

			box-sizing: border-box;
			color: #000;
			font-size: 1.6rem;
			line-height: 1.6rem;
			outline: 0;
			padding: 1.8rem 2rem;
		}
	}

	&__phone {
		width: 100%;
	}

	&__group {
		width: 100%;

		select {
			overflow: hidden;
			padding: 0rem 0rem;
		}

		// span {
		// 	display: inline-block;
		// 	position: relative;
		// 	width: auto;

		// 	&::after {
		// 		content: "*";
		// 		font-size: 1.5rem;
		// 		color: red;
		// 		position: absolute;
		// 		top: 0;
		// 		right: -1rem;
		// 		display: block;
		// 	}
		// }
	}

	&__doctor {
		width: 100%;
	}

	&__sms {
		width: 100%;
	}

	&__address {
	}

	&__country {
	}

	&__area {
	}

	&__city {
	}

	&__street {
	}

	&__house {
	}

	&__index {
	}

	&__passport {
	}

	&__document {
		position: relative;

		select {
		}

		// span {
		// 	display: inline-block;
		// 	position: relative;
		// 	width: auto;

		// 	&::after {
		// 		content: "*";
		// 		font-size: 1.5rem;
		// 		color: red;
		// 		position: absolute;
		// 		top: 0;
		// 		right: -1rem;
		// 		display: block;
		// 	}
		// }
	}

	&__series {
	}

	&__number {
	}

	&__place {
	}

	&__issue-date {
	}

	&__submit {
		margin-top: 2rem;

		input {
			font-size: 1.5rem;
			background-color: $primaryColor;
			color: #fff;
			border-color: #64ac15;
		}
	}
}

.placeholder-container {
	position: relative;
	width: 100%;
	margin-bottom: 2rem;

	input {
		box-sizing: border-box;
		color: #000;
		font-size: 1.6rem;
		line-height: 1.6rem;
		outline: 0;
		padding: 1.5rem 2rem;
		width: 100%;

		&:focus {
			border: 1px solid $primaryColor;
		}
	}

	label {
		color: #000;
		font-size: 16px;
		line-height: 16px;
		padding: 5px 10px;
		pointer-events: none;
		position: absolute;
		transition: all 200ms;
		top: 12px;
		left: 10px;
		opacity: 0.5;
	}

	input:focus + label,
	input:not(:placeholder-shown) + label {
		top: -1rem;
		left: 1rem;
		font-size: 1.1rem;
		background-color: white;
		border: 1px solid $primaryColor;
		border-radius: 1rem;
		padding: 0.2rem 1rem;
		opacity: 1;
	}
}
